.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BD1A1A;
    padding: 10px 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}
.navbar a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}
