body {
  font-family: Arial, sans-serif;
  background: url("/image/bus.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: auto;
  height: 100vh;
  margin: 30px 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #BD1A1A;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: auto;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: auto;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color:#b76464;
}

.form input:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: white;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}

input::placeholder{
  font-size: italic;
  font-size: 14px;
  opacity: 0.7;
}
